body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steam {
    background-color: #132235;
    width: 100vw;
    height: 100vh;
 
}

.topoDoSite {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    background-color: #171a21;
}

.containerLogo {
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
}

.logoSteam {
    /* border: 3px solid purple; */
    width: 30%;
}

.logo {
    /* border: 3px solid purple; */
    width: 85%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.containerNav {
    /* border: 1px solid yellow; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;

}

.btn , .btn2 , .btn3 , .btn4 {
    background-color: transparent;
    border: none;
    color: #b8b6b4;
    cursor: pointer;
    outline: none;
}

.containerSessao {
    /* border: 1px solid yellow; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding-top: 7px;
}

.instalarOSteam {
    background-color: #5c7e10;
    color: white;
    cursor: pointer;
    border: none;
}

.iniciarSessao , .idioma {
    background-color: transparent;
    border: none;
    color: #b8b6b4;
    cursor: pointer;
    outline: none;
}

.barraDivisora {
    width: 2px;
    height: 14px;
    background-color: #b8b6b4;

}

.carrossel{
    /* border: 3px solid red; */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.carrosselContainer {
    height: 50vh;
    overflow: hidden;
    position: relative;
    /* border: 3px solid rgb(0, 255, 21); */

  }
  
  .carrosselSlide1 {
    display: flex;
    width: 50vw;
  }

  .carrosselSlide1 img {
    width: 50vw;
    height: 50vh;
    float: left;
  }
  
  .carrosselPrev, .carrosselNext {
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    margin-top: 50px;

}

.carrosselPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 90px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}

.carrosselNext {
    /* right: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 90px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,27,69,1) 60%); */
}


@media (max-width:1300px){
    .containerSessao{
        display: none;
    }
}

@media (max-width:1050px){
    .containerNav{
        display: none;
    }
}

@media (max-width:900px){
    .logoSteam{
        display: none;
    }
}