body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steam {
    background-color: #132235;
    width: 100vw;
    height: 100vh;
 
}

.topoDoSite {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    background-color: #171a21;
}

.containerLogo {
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
}

.logoSteam {
    /* border: 3px solid purple; */
    width: 30%;
}

.logo {
    /* border: 3px solid purple; */
    width: 85%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.containerNav1 {
    /* border: 1px solid yellow; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;

}

.btn , .btn2 , .btn3 , .btn4 {
    background-color: transparent;
    border: none;
    color: #b8b6b4;
    cursor: pointer;
    outline: none;
}

.containerSessao {
    /* border: 1px solid yellow; */
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding-top: 7px;
}

.instalarOSteam {
    background-color: #5c7e10;
    color: white;
    cursor: pointer;
    border: none;
}

.iniciarSessao , .idioma {
    background-color: transparent;
    border: none;
    color: #b8b6b4;
    cursor: pointer;
    outline: none;
}

.barraDivisora {
    width: 2px;
    height: 14px;
    background-color: #b8b6b4;

}

.slider{
    /* border: 3px solid red; */
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 8%;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    float: left;
}

.manualNav{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
}

.manualBtn{
    border: 2px solid #fff;
    padding: 5px;
    margin-top: -10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.manualBtn:not(:last-child){
    margin-right: 6px;
}

.manualBtn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

#radio7:checked ~ .first{
    margin-left: -150%;
}

#radio8:checked ~ .first{
    margin-left: -175%;
}

#radio9:checked ~ .first{
    margin-left: -200%;
}

#radio10:checked ~ .first{
    margin-left: -225%;
}

.containerNav div{
    border: 2px solid#20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
}

.containerNav{
    /* border: 3px solid blue; */
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.containerNav div:not(:last-child){
    margin-right: 6px;
}

#radio1:checked ~ .containerNav .autoBtn1{
    background-color: #fff;
}

#radio2:checked ~ .containerNav .autoBtn2{
    background-color: #fff;
}

#radio3:checked ~ .containerNav .autoBtn3{
    background-color: #fff;
}

#radio4:checked ~ .containerNav .autoBtn4{
    background-color: #fff;
}

#radio5:checked ~ .containerNav .autoBtn5{
    background-color: #fff;
}

#radio6:checked ~ .containerNav .autoBtn6{
    background-color: #fff;
}

#radio7:checked ~ .containerNav .autoBtn7{
    background-color: #fff;
}

#radio8:checked ~ .containerNav .autoBtn8{
    background-color: #fff;
}

#radio9:checked ~ .containerNav .autoBtn9{
    background-color: #fff;
}

#radio10:checked ~ .containerNav .autoBtn10{
    background-color: #fff;
}

.carrosselPrev, .carrosselNext {
    border: 3px solid green;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

} 

.carrosselPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 90px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}

.carrosselNext {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 90px;
    background: -webkit-linear-gradient( left, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}

